body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #ddd; 
            position: relative;
            overflow: hidden; 
}

.bloco_cadastro {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 400px;
}

h2 {
            margin-bottom: 30px;
            color: #333;
}

.input {
            margin-bottom: 20px;
            text-align: left;
}

.input label {
            display: block;
            margin-bottom: 8px;
            color: #555;
            font-weight: bold;
}

.input input {
            width: calc(100% - 20px);
            padding: 12px 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 16px;
            box-sizing: border-box; 
}

.input input:focus {
            border-color: #ff0000;
            outline: none;
            box-shadow: 0 0 0 3px rgba(218, 35, 11, 0.868);
}

.botao-com-link {
            display: inline-block; /* Permite que o padding e a largura funcionem */
            padding: 12px 24px;
            background-color: #640b0b;
            color: #ffffff;
            text-decoration: none; /* Remove o sublinhado padrão do link */
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            transition: background-color 0.3s ease; /* Adiciona uma transição suave para o hover */
}

.botao-com-link:hover {
            background-color: #8B0000; /* Cor mais escura no hover */
}

.link_para_login {
            margin-top: 25px;
            font-size: 15px;
}

.link_para_login a {
            color: #ff2400;
            text-decoration: none;
            font-weight: bold;
}

.link_para_login a:hover {
            text-decoration: underline;
}
